/* Fonts ******************************************************************/
@import url(/assets/stylesheets/reset.css);
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/* General ******************************************************************/
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: #999;
  font-size: 16px;
  background: #A3D1E0;
  height: auto;
  padding-bottom: 1px;
}

/* Selection ***************************************************************/
::-moz-selection {
  background: #8A8A8A;
  color: #FFFFFF;
}
::selection {
  background: #8A8A8A;
  color: #FFFFFF;
}

/* Links *******************************************************************/
a {
  color: #CCC;
  border-bottom: 1px dotted #CCC;
  padding-bottom: 5px;
}

a:hover {
  color: #7F9BB8;
  border-color: #7F9BB8;
}

a:active,
a:focus {
  position: relative;
  top: 1px;
}

/* Header ******************************************************************/
.main-header {
  background-color: #F2F2F2;
  padding: 2.5em 0 1.5em 0;
}

.main-header h1,
.main-header h2 {
  margin-bottom: 0.5em;
  clear: both;
  text-align: center;
}

.main-header h1 {
  font-size: 2.4em;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.main-header h2 {
  font-weight: normal;
  font-size: 0.8em;
  color: #9f9f9f;
}

/* Main navigation **********************************************************/
.main-nav {
  background: #FFF;
  height: 50px;
  padding-left: 30px;
}

.main-nav li {
  display: inline-block;
  float: left;
}

.main-nav li.active a {
  background: #F5F5F5;
}

.main-nav a {
  margin: 6px 5px;
  padding: 10px 12px;
  display: block;
  border: none;
}

.main-nav a:hover,
.main-nav li.active a:hover {
  color: #FFF;
  background: #7F9BB8;
  -moz-transition: background-color 1s, color 1s, -moz-transform 1s;
  -webkit-transition: background-color 1s, color 1s, -webkit-transform 1s;
  -o-transition: background-color 1s, color 1s, -o-transform 1s;
  transition: background-color 1s, color 1s, transform 1s;
}

/* Content ******************************************************************/
.main-content {
  background: #FFF;
  padding: 48px 0;
}

.contact-info p {
  font-size: 1em;
  line-height: 1.2em;
  padding-bottom: 25px;
  text-align: center;
}

.contact-links {
  background: #CCC;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.contact-links ul {
  text-align: right;
  padding: 5px 10px;
}

.contact-links li {
  display: inline-block;
  padding: 3px;
}

.contact-links li a {
  border: none;
  width: 36px;
  height: 30px;
  display: block;
  background: url(../images/icons.png) transparent no-repeat;
  padding: 0;
}

.contact-links li a span {
  display: none;
}

.contact-links li a.github { background-position: 0 6px; }
.contact-links li a.linkedin { background-position: -47px 6px; }
.contact-links li a.twitter { background-position: -96px 6px; }

.contact-links li a.github:hover { background-position: 0 -31px; }
.contact-links li a.linkedin:hover { background-position: -47px -31px; }
.contact-links li a.twitter:hover { background-position: -96px -31px; }

.main-header,
.main-content {
  padding-left: 5%;
  padding-right: 5%;
}

/* Browser looks ***********************************************************/
.browser-wrapper {
  margin: 7% auto 3% auto;
  max-width: 800px;
  -webkit-box-shadow: 10px 10px 30px 5px rgba(00, 00, 00, 0.2);
  box-shadow: 10px 10px 30px 5px rgba(00, 00, 00, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.browser-navigation {
  background: #555;
  height: 32px;
  padding-left: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.browser-button {
  display: inline-block;
  background: #A7A7A7;
  width: 12px;
  height: 12px;
  margin: 10px 2px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/* Blog ********************************************************************/
.blog-list {
  list-style: none;
}

.blog-list li {
  padding: 12px 0;
  overflow: auto;
}

.blog-list h1,
.blogpost h1 {
  float: left;
}

.blog-list time,
.blogpost time {
  float: right;
}

.blogpost header {
  overflow: auto;
  margin-bottom: 30px;
}

.blogpost h1 {
  font-size: 3em;
}

.blogpost time {
  margin-top: 20px;
}

.blogpost p,
.blogpost li {
  line-height: 1.6em;
  padding: 0.6em 0;
}

.blogpost ul {
  padding-left: 3em;
}

.blogpost li {
  list-style: square;
}

.blogpost pre {
  padding: 0.6em 0;
  font-size: 0.8em;
}

.blogpost-end {
  margin-top: 20px;
}

/* Media Queries ***********************************************************/
@media screen and (max-width: 1000px) {
  .browser-wrapper {
    margin: 7% 10% 3% 10%;
  }

  .blogpost pre {
    font-size: 0.7em;
  }

  .blogpost h1 {
    font-size: 1.5em;
  }

  .blog-list time,
  .blogpost time {
    margin-top: 3px;
  }
}

@media screen and (max-width: 600px) {
  .browser-wrapper {
    margin: 3%;
  }

  .blog-list time,
  .blogpost time {
    margin-top: 3px;
    display: block;
  }

  .main-header h1 {
    font-size: 2em;
  }

  .blog-list h1,
  .blogpost h1,
  .blog-list time,
  .blogpost time {
    float: none;
  }

  .blogpost ul {
    padding-left: 2em;
  }
}


@media screen and (max-width: 400px) {
  .main-header h1 {
    font-size: 1.7em;
  }

  .main-header h2 {
    padding: 0 10%
  }

  .main-content {
    font-size: 0.8em;
  }
}
