/* Fonts ******************************************************************/
@import url(/stylesheets/reset.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);

/* General ******************************************************************/
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  background: #FFF;
  height: auto;
  padding-bottom: 1px;
}

/* Selection ***************************************************************/
::-moz-selection {
  background: #5D8693;
  color: #D3F4FF;
}
::selection {
  background: #5D8693;
  color: #D3F4FF;
}

/* Links *******************************************************************/
a {
  color: #000;
  border-bottom: 1px dotted #CCC;
  padding-bottom: 5px;
  text-decoration: none;
}

a:hover {
  color: #1D9EFF;
  border-color: #1D9EFF;
}

a:active,
a:focus {
  position: relative;
  top: 1px;
}

/* Header ******************************************************************/
#main-header {
  padding: 130px 26% 100px 26%;
  margin-bottom: 60px;
  text-align: center;
  background: #000 url(/images/header-background.jpg) no-repeat 50% 10%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

#main-header .image-holder {
  max-height: 150px;
  max-width: 150px;
  margin: 0 auto;
  border-radius: 75px;
  overflow: hidden;
  margin-bottom: 25px;
  display: block;
  border: none;
  padding: 0;
}

#main-header h1,
#main-header h2 {
  color: #FFFFFF;
  margin-bottom: 20px;
}

#main-header h1 {
  font-size: 2.7em;
}

#main-header h2 {
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.8em;
}

#main-header nav {
  text-align: center;
}

#main-header nav li {
  display: inline-block;
  padding: 3px 8px;
}

#main-header nav a {
  border: none;
  width: 50px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  opacity: 0.8;
}

#main-header nav span {
  display: none;
}

#main-header nav a.github {
  background-image: url(/images/icon-social-github-outline.svg);
}
#main-header nav a.twitter {
  background-image: url(/images/icon-social-twitter-outline.svg);
}
#main-header nav a.email {
  background-image: url(/images/icon-social-email-outline.svg);
}

#main-header nav a:hover {
  opacity: 1;
}

/* Content ******************************************************************/
#main-content,
#main-footer {
  width: 65%;
  margin: 0 auto;
}

#main-footer {
  margin: 50px auto;
  color: #ADADAD;
}

/* Blog ********************************************************************/
.blog-list li {
  margin-bottom: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #E6E6E6;
}

.blog-list li:last-child {
  border: none;
}

.blog-list h1,
.blogpost h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.blogpost h2 {
  font-size: 1.8em;
  margin: 20px 0 10px 0;
}

.blog-list time,
.blogpost time {
  margin-bottom: 15px;
  display: block;
  color: #ADADAD;
}

.blog-list p {
  margin-bottom: 15px;
}

.blogpost p,
.blogpost li {
  line-height: 1.6em;
  padding: 0.6em 0;
  font-size: 1.3em;
}

.blogpost ul {
  padding-left: 3em;
}

.blogpost li {
  list-style: square;
}

.blogpost pre {
  padding: 0.6em 0;
  font-size: 0.8em;
}

.blogpost-end {
  margin-top: 20px;
}

/* Media Queries ***********************************************************/
@media screen and (max-width: 1000px) {
  .browser-wrapper {
    margin: 7% 10% 3% 10%;
  }

  .blogpost pre {
    font-size: 0.7em;
  }

  .blogpost h1 {
    font-size: 1.5em;
  }

  .blog-list time,
  .blogpost time {
    margin-top: 3px;
  }
}

@media screen and (max-width: 600px) {
  #main-header {
    padding: 100px 10% 70px 10%;
  }

  #main-content,
  #main-footer {
    width: 80%;
  }
}


@media screen and (max-width: 400px) {
  #main-header h1 {
    font-size: 2em;
  }

  #main-header h2 {
    font-size: 1em;
  }

  #main-header nav a {
    width: 40px;
    height: 40px;
  }

  #main-content,
  #main-footer {
    width: 90%;
  }
}
