<% # @param articles [Array<Hash>] %>

<% content_for(:title) { 'My Blog' } %>

<ol class="blog-list">
  <% articles.each do |article| %>
    <li>
      <article>
        <a href="/blog/<%= article[:slug] %>">
          <h1><%= article[:title] %></h1>
          <time><%= article[:date] %></time>
        </a>
      </article>
    </li>
  <% end %>
</ol>
