<div class="contact-info">
  <p>
    Love the web, working with cool technologies like JavaScript, Ruby and Rails.
  </p>
  <p>
    Currently working at <a href="http://benchprep.com" target="_blank">BenchPrep</a>.
  </p>
  <p>
    If you want to talk, you can find me at <a href="mailto:hi@sborrazas.com" target="_blank">hi@sborrazas.com</a>.
  </p>
</div>
