<% # @param articles [Array<Hash>] %>

<ol class="blog-list">
  <% articles.each do |article| %>
    <li>
      <article>
        <time><%= pretty_date(article[:date]) %></time>
        <a href="/blog/<%= article[:slug] %>">
          <h1><%= article[:title] %></h1>
        </a>
        <p><%= article[:description] %></p>
      </article>
    </li>
  <% end %>
</ol>
